.text {
    color: rgb(60, 3, 3);
}

body {
    background-color: rgb(117, 120, 123);
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.pill-nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .pill0nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }