.text {
    color: rgb(60, 3, 3);
}

body {
    background-color: rgb(117, 120, 123);
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  ul {
    list-style-type: none;
    color: white;
    background-color: #27241dff;
    overflow: hidden;
    padding: 1em;
  }

  li {
    display: inline;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 1em;
  }

  li a:hover {
    background-color: #c64600ff;
  }